{% load static tailwind_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Petal</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    {% block scripts %}{% endblock scripts %}
    {% tailwind_css %}
  </head>

  <body class="bg-gray-50 font-sans leading-normal tracking-normal min-h-screen w-full">
    <div class="navbar bg-gray-100 shadow-md">
      <div class="navbar-start"></div>
      <div class="navbar-center">
        <a class="btn btn-ghost text-xl">Petal</a>
      </div>
      <div class="navbar-end">
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
            <img src="{% static 'core/icons/hamburger.svg' %}" alt="Menu Icon" class="w-6 h-6" />
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
          >
            <li><a href="{% url 'core:patient-dashboard' %}">Patient View</a></li>
            <li><a href="{% url 'core:caretaker-dashboard' %}">Caretaker View</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="no-scroll w-full h-full py-12">{% block content %} {% endblock %}</div>
  </body>
</html>
