{% extends 'base.html' %} 
{% load static %} 

{% block scripts %}
<script src="{% static 'core/js/nodes.js' %}" defer></script>
{% endblock scripts %} 

{% block content %}
<section class="flex flex-wrap items-center justify-center gap-4 w-full h-full relative">
  {% if request.path != "/patient/" %}
  <button 
    onclick="window.history.back()" 
    class="absolute left-10 top-1/2 transform -translate-y-1/2 p-2 rounded-full bg-gray-100 shadow-md hover:bg-gray-200 transition"
  >

    <img src="{% static 'core/icons/back-button.svg' %}" alt="Back" class="w-11 h-11">
  </button>
  {% endif %}

  {% for node in nodes %} 
    {% if node.children.all|length > 0 %}
      <div class="card bg-base-100 w-96 shadow-xl mx-4 my-4" id="category-card-{{ forloop.counter }}">
        <div class="tooltip tooltip-primary hover:scale-110 transition-transform duration-300" data-tip="{{ node.name }}">
          <a class="w-full h-full" href="{% url 'patient-node' node.id %}">
            <figure class="rounded-lg shadow-xl">
              <img src="{{ node.image.url }}" alt="{{ node.name }}" />
            </figure>
          </a>
        </div>
      </div>
    {% else %}
      <div class="card bg-base-100 w-96 shadow-xl mx-4 my-4" id="single-card-{{ forloop.counter }}">
        <div class="tooltip tooltip-primary hover:scale-110 transition-transform duration-300" data-tip="{{ node.name }}">
          <figure class="rounded-lg shadow-xl">
            <img src="{{ node.image.url }}" alt="{{ node.name }}" />
          </figure>
        </div>
      </div>
    {% endif %} 
  {% endfor %}
</section>
{% endblock %}
