{% extends 'base.html' %} {% load static%} {% block content %}
<section class="flex flex-wrap items-center justify-center gap-6 w-full h-full">
  {% for node in nodes %}
  <div class="card bg-base-100 w-96 shadow-xl mx-6 my-12">
    <div class="stack hover:scale-110 transition-transform duration-300">
      {% if node.children.all|length > 0 %}
      <a class="w-full h-full" href="{% url 'core:patient-node' node.id %}">
        <figure class="rounded shadow-xl">
          <img src="{{ node.image.url }}" alt="{{ node.name }}" />
        </figure>
      </a>
      {% for child in node.children.all|slice:":3" %}
      <figure class="rounded shadow-xl">
        <img src="{{ child.image.url }}" />
      </figure>
      {% endfor %} {% else %}

      <figure class="rounded shadow-xl">
        <img src="{{ node.image.url }}" alt="{{ node.name }}" />
      </figure>

      {% endif %}
    </div>
  </div>
  {%endfor%}
</section>
{% endblock %}
