{% extends 'base.html' %} {% load static%} {% block content %}
<div class="self-center w-full">
  <div class="flex justify-center w-full">
    <ul
      class="menu menu-vertical lg:menu-horizontal bg-base-200 rounded-box gap-4"
    >
      <li><a href="{% url 'caretaker-upload-item' %}">Upload Objects Individually</a></li>
      <li><a href="{% url 'caretaker-word-list' %}">Upload Objects by Word List</a></li>
      <li><a href="{% url 'caretakerGenerate' %}">Generate Image from Word</a></li>
    </ul>
  </div>

  <div class="text-center container w-1/2 mx-auto self-center justify-center mt-12">
    {% block submenu %} {% endblock submenu %}
  </div>
</div>
{% endblock content %}
