{% extends 'base.html' %} {% block content %}
<section class="flex items-center justify-center h-screen">
  <divclass class = "items-center">
    <h1>Type out a list of words seperated by comma</h1>
    <div class = "justify-center">
        <input>
    </div>
    <div>
        <input type="button" name="button">
    </div>
  </div>
  <div class="input-file">
    <hi>Upload a photo for a Object</hi>
  </div>
  <div class="input-dropdown">
    <label>Choose your Object</label>
    <select>
      {% for x in objects %}
        <option value="{{x}}">{{x}}</option>
      {% endfor %}
  </select>
  </div>
</section>
{% endblock %}